<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Update Success!</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous" />
</head>
<body>
    <div class="container text-center">
        <h3>You have Updated your settings successfully!</h3>
        <h4><a th:href="@{/tasks/list}">Click here to Go to Task List</a></h4>
        <h4><a th:href="@{/owner/showOwnerPreferences(ownerId=${ownerId})}">Return to Settings</a></h4>
    </div>
     
</body>
</html>