<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Save Category</title>
	<header th:replace="fragments/header">
	</header>
</head>

<body>
<div th:if="${isCreate or taskCategory.owner.id == taskOwner.id}">
<div class="container">
	<h3>Task Management Categories</h3>
	<hr>
	
	<p class="h4 mb-4"> Save Category </p>
	<form action ="#" th:action="@{/categories/save}"
			th:object="${taskCategory}" method="POST">
	
	<!-- Add hidden form field to handle update -->
	<input type="hidden" th:field="*{id}" />
	<!-- Add hidden form field to handle update -->
	<input type="hidden" th:field="*{owner}" />
			
	<input type="text" th:field="*{name}"
		class="form-control mb-4 col-4" placeholder="Title">	
	
	<!--  <input type="text" th:field="*{priority}"
		class="form-control mb-4 col-4" placeholder="Priority">	-->
	<div th:if="${#strings.toString(taskOwner.prioritySelection)} == 'CategoryGrade'">
	<h5>Priority</h5>
	<input type="range" th:field="*{priority}" class="form-range mb-4" min="1" max="5" step="1">
	</div>
	
	<div th:if="${#strings.toString(taskOwner.prioritySelection)} == 'CategoryPercent'">
	<h5>Percentage</h5>
	<input type="range" th:field="*{percentage}" class="form-range mb-4" min="1" max="100" step="7" oninput="num.value = this.value">
	<output id="num">0</output>
	</div>
	
	<br>
		
	<button type="submit" class="btn btn-info col-2">Save</button>	
					
	</form>
	
	<hr>
	<a th:href="@{/owner/showOwnerPreferences(ownerId=${taskOwner.id})}">Back to Settings</a>
</div>
</div>
</body>

</html>