<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Save Category</title>
</head>

<body>

<div class="container">
	<h3>Task Management Categories</h3>
	<hr>
	
	<p class="h4 mb-4"> Save Category </p>
	<form action ="#" th:action="@{/categories/save}"
			th:object="${taskCategory}" method="POST">
	
	<!-- Add hidden form field to handle update -->
	<input type="hidden" th:field="*{id}" />
	<!-- Add hidden form field to handle update -->
	<input type="hidden" th:field="*{owner}" />
			
	<input type="text" th:field="*{name}"
		class="form-control mb-4 col-4" placeholder="Title">	
	
	<!--  <input type="text" th:field="*{priority}"
		class="form-control mb-4 col-4" placeholder="Priority">	-->
	<h5>Priority</h5>
	<input type="range" th:field="*{priority}" class="form-range mb-4" min="1" max="5" step="1">
	<br>
		
	<button type="submit" class="btn btn-info col-2">Save</button>	
					
	</form>
	
	<hr>
	<a th:href="@{/tasks/list}">Back to Task List</a>
</div>

</body>

</html>